.stone {
    display: block;
    width: 22%;
    height: auto;
}

.avenger {
    display: block;
    width: auto;
    height: 200px;
}

#stones {
    margin-left: 50px;
    width: 25%;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(47, 90, 208, 0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

#avengers_first {
    width: 15%;
}

#avengers_second {
    width: 15%;
}

#avengers_third {
    width: 15%;
}

#infinity_glove {
    width: 20%;
}

.column {
    float: left;
}

.chosen {
    background-color: aquamarine;
}

/*.left, .right {*/
/*    width: 25%;*/
/*}*/

/*.middle {*/
/*    width: 50%;*/
/*}*/

